<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style-blog.css">
    <link rel="stylesheet" href="/css/style-global.css">
    <title>Agencia DevHouse</title>
</head>
<body>
    <header>
        <h1>DH News</h1>
    </header>
    <section>
    <h4>Postado em 17/07/2021</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <strong>Sequi, molestias hic.</strong>  Ullam, temporibus totam saepe laborum id delectus culpa ratione obcaecati natus aut? Explicabo id iusto minus vero reiciendis voluptates! Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi dolorem nisi dolor quidem voluptate distinctio at, odit facere et ea officiis soluta alias quis eum quas beatae fuga? Possimus, officia?</p>
    <img src="/img/destaque.jpg" width="500" alt="destaque">
    <h2>Ipsum dolor sit amet consectetur adipisicing elit!</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime esse blanditiis, debitis repellendus alias nam recusandae aliquam aliquid non harum quaerat voluptates. Quod commodi cum recusandae maiores, illum et doloribus.</p>
    <ol>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
        <li>Quo dolores assumenda minima sequi.</li>
        <li>Ipsa laboriosam mollitia, esse debitis totam eveniet sit iure.</li>
    </ol>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora, tempore velit ea quae nemo ab cupiditate dolore assumenda fuga blanditiis, minus sint quod quisquam neque consectetur labore libero delectus deserunt! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde quas nemo repellat quasi consectetur esse distinctio nihil, incidunt libero, assumenda fugiat officiis culpa dolores voluptatum animi numquam a dolor amet!</p>
    <h2>Repellendus ipsa veniam alias sunt cum</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel porro laboriosam eveniet maxime doloribus nulla, nisi eum maiores soluta qui, voluptatibus, ipsam iste ipsa distinctio earum ad ut architecto optio? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius possimus temporibus voluptates.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque est, explicabo amet saepe minima totam incidunt <strong>tempora reprehenderit?</strong> Illum exercitationem voluptatem odit perferendis officiis facilis cum itaque doloremque tempora amet.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores deserunt placeat tempore molestiae omnis nulla optio eos ea consectetur animi, eius, deleniti, quam iste! Quod sequi sed doloremque obcaecati debitis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, exercitationem modi? Ratione blanditiis sed, eius earum dolorum magnam cum impedit accusantium, officiis, dolor cumque iusto explicabo magni exercitationem minus at!</p>
    </section>
    <footer>
        <ul>
            <li><a href="https://pt-br.facebook.com/digitalhousebrasil/"><img src="/img/facebook.svg" class="icone-social" alt="Facebook - Digital House"></a></li>
            <li><a href="https://www.instagram.com/digitalhousebrasil/?hl=pt-br"><img src="/img/instagram.svg" class="icone-social" alt="Instagram - Digital House"></a></li>
            <li><a href="https://br.linkedin.com/school/digital-house-brasil/"><img src="/img/linkedin.svg" class="icone-social" alt="LInkedin - Digital House"></a></li>
            <li><a href="https://www.youtube.com/channel/UCRQdwmWMhTcqDFjPT4UPZYA"><img src="/img/youtube.svg" class="icone-social" alt="Youtube - Digital House"></a></li>
        </ul>
    </footer>
</body>
</html>