<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style-global.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>Home | Agencia DevHouse</title>
</head>
<body>
    <header>
            <img src="/img/logo.png" alt="Agencia - devHouse" title="Agencia - devHouse" id = "logo">
            <nav class="menu">
            <a href="">Home</a>
            <a href="">Produtos</a>
            <a href="">Depoimentos</a>
            <a href="">Blog</a>
        </nav>
        <div class="atendimento">
            <a href="(21)4002-8922">(21)4002-8922</a>
            <button>Contato</button>
        </div>
    </header>
    <section class="banner">
            <h1>Trabalhe conosco <br>e tenha melhores resultados!</h1>
            <p>Venha ser diferente!</p>
            <div class="sobrenos">
                <button>Conheça Agora</button>
                <button>Entre em Contato</button>
            </div>
            <img src="/img/banner.png" alt="banner-1" title="banner -1" id="banner1">
    </section>
</body>
</html>