<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agencia DevHouse</title>
</head>
<body>
    <h1>Bem Vindo a Agencia DevHouse</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, ipsa. Veritatis voluptatum quis dignissimos! Veniam amet deserunt reprehenderit atque. Impedit minima quam dolorem, ipsa debitis cum assumenda nostrum illum magni.
    </p>
</body>
</html>